.lobbyContainer{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.lobbyText{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.lobbyMeetingButton{
    padding: 15px;
    font-size: 17px;
    background-color:#4146e3;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.lobbyForm{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.formInput{
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
    outline-color: #4146e3;
}

.formButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}


.heading{
    font-size:45px ;
    color: rgb(20, 19, 19);
    margin: 0;
}

.para{
    position:relative;
    font-size: 20px;
    width:70% ;
    color: rgb(109, 106, 106);
}

.lobbySlider{
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sliderDiv{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.sliderImg{
    width: 250px;
    height: 250px;
}

.sliderTextHeading{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sliderTextPara{
    width: 400px;
}