.lobbyContainer{
    /* height: 75vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    /* padding: 40px; */
}

.lobbyText{
    /* width: 48%; */
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.lobbyMeetingButton{
    padding: 15px;
    font-size: 17px;
    background-color:#4146e3;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.heading{
    font-size:45px ;
    color: rgb(20, 19, 19);
    margin: 0;
}

.para{
    position:relative;
    font-size: 20px;
    width:70% ;
    color: rgb(109, 106, 106);
}

.lobbyForm{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.formInput{
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
    outline-color: #4146e3;
}

.formButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.lobbySlider{
    /* width: 48%; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.sliderDiv{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.sliderImg{
    width: 250px;
    height: 250px;
}

.sliderTextHeading{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sliderTextPara{
    width: 400px;
}


@media (max-width: 940px) {
    .lobbyText{
        /* width: 48%; */
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
    }

    .heading{
        font-size:45px ;
        width: 100%;
        color: rgb(20, 19, 19);
        margin: 0;
    }
    
    .para{
        width: 100%;
        position:relative;
        font-size: 20px;
        color: rgb(109, 106, 106);
        /* width: 500px; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
    }

    .lobbyMeetingButton{
        padding: 15px;
        font-size: 17px;
        background-color:#4146e3;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        width: 100%;
    }
    
    .lobbyForm{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
    
    .formInput{
        margin-top: 10px;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid black;
        font-size: 14px;
        outline-color: #4146e3;
        width: 82%;
    }
  
}

@media (max-width: 510px) {
    .lobbyText{
        /* width: 48%; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
  
}