.linkCopied{
    background-color: rgba(36, 66, 212, 0.594);
    padding: 10px;
    width: 98%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.connectionBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.connectionText{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-right:10px ;
}

.copyLinkButton{
    padding: 6px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(241, 241, 241);
}

.ConnectButton{
    background-color: rgb(75, 75, 232);
    padding: 6px;
    border-radius: 5px;
    color: white;
}

.roomContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.remoteVideo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

@media (max-width:750px){
    
    .connectionText{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-right:10px ;
        display: none;
    }
}